<div class="container project-container">
  <div class="row">
    <div class="col-md-7 text-center">
      <%= image_tag @project.main_image %>
      <% if @project.url and not @project.url.empty? %>
        <%= link_to 'Visit', @project.url, target: "_blank", class: 'btn btn-lg btn-info visit-button' %>
      <% end %>
    </div>

    <div class="col-md-5">
      <h1><%= @project.title %></h1>

      <hr>

      <em><%= @project.subtitle %></em>

      <p><%= @project.body %></p>

      <hr>

      <h3>Technologies Used:</h3>

      <p>
      <%= @project.technologies.map{|p| p.name}.join(", ") %>.
      </p>

      <%= link_to 'Edit |', edit_project_path(@project) if logged_in?(:admin) %>
      <%= link_to 'Back', projects_path %>
      
    </div>
  </div>
</div>